#filters{
    padding: 20px;
}
.project{
    margin: 20px 0px;
    border: solid 1px darkgray;
    border-radius: 5px;
    padding: 0px;

}

.project-header{
    padding: 10px;
    background-color: #E1E6FA;
    border-bottom: solid 1px darkgray;
}

.commit-avatar{
    max-width: 40px;
}

.project-author{
    font-weight: bold;
    font-size: 1.2em;
}

.project-name{
    font-style: italic;
}

.project-footer{
    padding: 10px;
    border-top: solid 1px darkgray;
}

.project-commits{

}

.panel-heading.collapsed .fa-chevron-down,
.panel-heading .fa-chevron-right {
  display: none;
}

.panel-heading.collapsed .fa-chevron-right,
.panel-heading .fa-chevron-down {
  display: inline-block;
}

.panel-heading {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}