.commit-avatar, .commit-avatar-ntm{
    max-width: 40px;
}

#filters{
    padding: 20px;
}

#projects{
    padding: 20px;
}

.project{
    margin: 20px 0px;
    border: solid 1px darkgray;
    border-radius: 5px;
    padding: 0px;

}

.project-header{
    padding: 10px;
    background-color: aliceblue;
    border-bottom: solid 1px darkgray;
}

.project-author{
    font-weight: bold;
    font-size: 1.2em;
}

.project-name{
    font-style: italic;
}

.project-footer{
    padding: 10px;
    border-top: solid 1px darkgray;
}

.panel-heading.collapsed .fa-chevron-down,
.panel-heading .fa-chevron-right {
  display: none;
}

.panel-heading.collapsed .fa-chevron-right,
.panel-heading .fa-chevron-down {
  display: inline-block;
}

.panel-heading {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#errors{
    max-height: 20%;
    overflow: scroll;
    scroll-behavior: auto;
}

.content-title{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}